img {
    border: 5px solid #FF8C00; /* dark orange border */
}

body {
    background-color: #ffd8b1; /* light orange background color */
}

h1 {
    font-family: Arial;
    font-size: 45px;
    color: rgb(255, 102, 0);
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-family: Arial;
    font-size: 20px;
}

button {
    background-color: #ff9966; /* light orange button color */
    border: 5px solid #FF8C00; /* dark orange border */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

button:hover {
    background-color: #ff6600; /* darker orange on hover */
}

